body {font-family: 'Source Sans Pro', sans-serif;}

.bg_top {
	position:fixed; 
	z-index:-1;
	width:100%; 
	height:1200px;
	background: url('images/top.png') no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
  }

// .bg_top img {
// 	width: 1;
// }	
.container {
	width:1170px;
	margin: 0 auto;
}

.header_wrap {
	position: relative;
}

.text_block {
	text-align: right;
	font-size: 36px;
	width:100%;
	padding-bottom: 180px;
}

.h1_text {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    color:#212121;
    text-transform: uppercase; //font-style=black
    text-align: right;
}

h1:after {
    content: '';
    border-bottom: 4px solid #212121;
    bottom: -27px;
    width: 138px;
    text-align: right;
    left:410px;
}

.text_description {
    font-size: 18px;
    line-height: 34px;
    text-align: right;
    color:#212121;
    padding-top:78px;
    width:550px;
    padding-bottom:50px;
    margin-left: 620px;
}

.logo {display:inline-block; 
	padding: 15px 10px;
	float:left;
}

.logo_menu_wrap {
	height: 100px;
	padding-top: 56px;
	position:relative;
}

.menu_wrap a, .burgher-menu {
    color: #212121;
    font-size: 16px;
    line-height: 0px;
    text-decoration:none;
    text-transform: uppercase;
 }

.burgher-menu {
	margin-top:20px; 
	position:absolute; 
	right:0;
	padding:10px;
}

.menu_item {
    display:inline-block;
    text-align: center;
    padding: 14px;
    margin: 14px;
}

.menu_item:hover {
	margin-top:2px;
	margin-left:12px;
	margin-right:12px;
    border: 2px solid #212121;
}

.burgher-menu:hover {
	margin-top:18px;
	margin-right:-4px;	
	border: 2px solid #212121;
	padding-right:12px;
}

.menu_wrap {
	float:right;
	margin-right: 60px;
	}

.burgher-menu {width:15px; height: 12px;}

.stripe { 
	content:'';
	background: black;
	width: 15px;
	min-height: 2px;
	margin:2px;
}

.top_button {
    position: relative;
    margin: 0 auto;
    top:0px;
    right:0px;
    display:inline-block;
    text-align: center;
    padding: 14px;
    padding-top:0px;
    margin: 14px;
    border: 2px solid #212121;
}

.top_button a {
    color: #212121;
    font-size: 16px;
    line-height: 0px;
    text-decoration:none;
 }

.top_button:hover {
	border: 2px solid grey;
}
.top_button a:hover {color: grey;} 

.about, .articles {background-color:white;}

.title {
	text-align:center; 
	padding-top: 100px;
	max-width:965px;
	margin: 0 auto;
}

.title h2 {padding: 22px; font-size: 27px;}

.title p {
	padding-top:50px;
	padding-bottom:70px;
	font-size: 16px;
	color: #212121;
	line-height:33px;}

.features {
	width: 100%;
	height: 370px;
	background-color: #efefef;
}

.features_list, .articles_list, .carricatures_list {
	width:1170px;
	margin:0 auto;
}

.feature, .article, .carricature {
	display:inline-block;
	width: 20%;
	padding: 4%;
	margin:2%;
	font-size:0;
}

.feature img {
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom:20px;
}

.feature h3 {
	font-size: 18px;
	line-height: 33px;	
	color: #212121;
	padding-bottom:35px;
}

.feature p {
	font-size: 16px;
	line-height: 26px;
	color: #212121;
	text-align: left;
}

.article p {
	font-size: 24px;
	color: #eeeeee;
	max-width: 
}

.article h3, .author p {
	font-size: 14px;
	text-transform: uppercase;
	color: #eeeeee;
}

.article h3 { padding-bottom:35px;}

.article {max-height: 500px;}

.description {
	padding-bottom: 20px;
	line-height: 33px;
	min-height: 100px;
}

.author img {display:inline-block;}

.author p {
	text-transform: none; 
	padding: 20px;
	padding-top:0px;
	display:inline-block;
	line-height: 20px;
	text-align: left;}

.articles {background-color: white; padding-bottom: 100px;}

.article {background-color:#222222;} 

.news {background-color: white;}

.clients {
	background-color: #efefef;
	height:370px;
}

.content_clients, .portfolio_tabs { 
	text-align: center;
}

.content_clients {padding-top: 120px;}


.portfolio_tabs {font-size:0;}

.portfolio_tabs_item {
    display:inline-block;
    padding: 14px;
    margin: 14px;
    margin-bottom: 40px;
}

.portfolio_tabs_item:hover {
	margin-top:2px;
	margin-left:12px;
	margin-right:12px;
    border: 2px solid #212121;
    margin-bottom: 38px;
}

.portfolio_tabs_item a{
    color: #212121;
    font-size: 16px;
    line-height: 0px;
    text-decoration:none;
 }

.portfolio {background-color: #fff;}

.portfolio_item {
	width: 30%; 
	display:inline-block;
}

.sphere {
	height: 10px;
	width: 10px;
	border-radius: 50%;
 }

 .circle_pagination {
 	text-align: center;
 	font-size:0;
 }

.circle_page {
	margin:0 auto;
	display:inline-block;
	width:10px;
	height:10px;
	background: #ccc;
	border-radius: 50%;
}

.citation {
	background-color:#212121;
	height: 330px;
	width: 100%;
}

.citation_content {
	padding: 80px;
	text-align:center;
}

.citation_text, .citation_author{
	color:white;
	line-height: 38px;
	font-size:20px;
}

.citation_text {margin:20px;}

.team {background-color:#fff; text-align: center;}

.team .title p {padding-bottom:20px;} 

.carricature h3 {
	font-size: 16px;
	text-transform: uppercase;
	color: #222;
	margin-bottom: 15px;
}

.carricature p {
	font-size: 15px;
	color: #222;
}

.carricature img {margin-bottom: 50px;}

.carricature {
	width: 12%;
}

.facts {	
	z-index:-1;
	width:100%; 
	height:690px;
	background: url('images/photo_facts.png') no-repeat center center; 
}

.facts_text {position: relative;}

.facts_list {
	z-index: 1;
	position: absolute;
	right:0;
	left:0;
	text-align:center;
	width:890px;
	margin: 0 auto;
}

.facts_item {

	width: 45%;
	margin-top: 45px;
	display: inline-block;
	font-size:0;
	}

.facts h2 {
	font-size: 27px;
	color:white;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 70px;
}

.facts h3 {
	font-size: 27px;
	color:white;
	margin-bottom: 45px;
}

.facts h3:after { 
	content:' ';
	width:75px; 
	position: relative;
    border-bottom: 3px solid #4d4c4b;
    height:2px;
    bottom: -22px;
    width: 42px;
    margin: 0 auto;
    display: block;
}

.facts p {
	font-size: 24px;
	color:white;
}

.facts_background {
	background-color: #FFF; 
	opacity: 0.3;
	width: 830px;
	margin: 0 auto;
	height: 350px;
}

.blog_articles {background-color: white; padding-bottom: 100px;}

.blog_articles figure, .list_article {
    margin: 0;
}

.blog_details {
	font-size: 14px;
	color:#555555;
	margin-bottom:20px;
}

.item_text h3 {
	font-size: 24px;
	color:#222222;	
	margin-bottom:50px;
}

.item_text p {
	font-size: 16px;
	line-height: 28px;
	color:#333333;	
}

.blog_articles img {
    width: 100%
}

.blog_articles_wrap {
    width: 1170px;
    margin: 0 auto;
    padding-top: 110px;
}

.blog_articles li:after {
    content: '';
    display: table;
    clear: both;
}

.articles_item_right, .articles_item_left {
    margin-bottom: 10px;
    font-size: 0px;
}

.list_photo {
    width: 50%;
    font-size: 0;
    display: inline-block;
}

.item_text {
    width: 50%;
    display: inline-block;
    font-size: 14px;
    top: 0;
    bottom:-100px;
    position:relative;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
 }

.blog_articles ul {
    list-style-type: none;
}






