body {font-family: 'Source Sans Pro', sans-serif; margin:0;}
ul {margin:0; padding:0;}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
    overflow: hidden;
}

.bg_top {
	position:fixed; 
	z-index:-1;
	width:100%; 
	height:1200px;
	background: url('../images/top.png') no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
  }

// .bg_top img {
// 	width: 1;
// }	
.container {
	max-width:1170px;
	margin: 0 auto;
}

@media screen and (max-width: 1239px) {
    .container {
        padding: 0 20px;
        box-sizing: border-box;
    }
}

.header_wrap {
	position: relative;
	background: url(../images/top.png) no-repeat center center;
	background-attachment: fixed;
}

.text_block {
	text-align: right;
	//font-size: 0px;
	width:100%;
	padding-bottom: 180px;
	padding-top: 50px;
}

.h1_text {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    color:#212121;
    text-transform: uppercase; //font-style=black
    text-align: right;
    font-weight: bold;
}

.h1_after {
	background: #212121;
	width: 138px;
	height: 4px;
	display:inline-block;
	margin-top:20px;
	//position:relative;
	//right:0;
	//top:0;
}
// h1:after {
//     //content:' ';
//     background: #212121;
//     height: 4px;
//     //border-bottom: 4px solid #212121;
//     bottom: -27px;
//     width: 138px;
//     text-align: right;
//     left:88%;
//     display: block;
//     position:relative;
// }

.text_description {
    font-size: 18px;
    line-height: 34px;
    text-align: right;
    color:#212121;
    padding-top:30px;
    max-width:550px;
    padding-bottom:50px;
    display:inline-block;
    //position:relative;
    //right:0;
    //margin-left: 620px;
}

.text_descrition_parent {font-size:0;}

@media screen and (max-width: 1000px) {
    .text_description {
    	font-size:16px;
    	line-height: 24px;
    	max-width: 300px;
    }
}

@media screen and (max-width: 598px) {
    .text_description {
    	max-width: 200px;
    	padding-bottom:30px;
    }
    .text_block {
		text-align: right;
		//font-size: 0px;
		width:100%;
		padding-bottom: 180px;
		padding-top: 20px;
}
}

.logo {display:inline-block; 
	padding: 14px 10px;
	float:left;
}

.logo_menu_wrap {
	height: 100px;
	padding-top: 56px;
	position:relative;
}

.menu_wrap a, .burgher-menu {
    color: #212121;
    font-size: 16px;
    line-height: 0px;
    text-decoration:none;
    text-transform: uppercase;
    padding: 14px;
    box-sizing: border-box;
 }

menu {margin:0;}

.menu_wrap {
	margin-top:0;
	padding-top:0;
	float:right;
	margin-right: 40px;
}

.menu_item {
    display:inline-block;
    //text-align: center;
    padding: 14px;
    //margin: 14px;
    //border: 2px solid rgba(255,255,255,0);
}

.menu_item a:hover {
	//margin-top:2px;
	//margin-left:12px;
	//margin-right:12px;
    border:2px solid #212121;
    cursor:pointer;
    box-sizing:border-box;
    padding: 12px;
}

@media screen and (max-width: 720px) {
  //   .menu_item {
		// margin:14px 0px;
  //   }

   .menu_wrap {
   		margin-right: 40px;
   }
}

@media screen and (max-width: 598px) {
    .menu_item {
		padding:13px 0px;}

   .menu_wrap a {
   		font-size: 14px;
   }
}

@media screen and (max-width: 465px) {
 
   .menu_wrap  {
   		display:none;
   }
}

.burgher-menu {
	margin-top:0px; 
	position:absolute; 
	right:-10px;
	padding:14px;
	border: none;
	background: none;
}

.burgher-menu:hover {
	margin-top:-2px;
	margin-right:-2px;	
	border: 2px solid #212121;
	//padding-right:12px;
    cursor:pointer;
    box-sizing:border-box;
}

//.burgher-menu {width:15px; height: 12px;}

.stripe { 
	content:'';
	background: black;
	width: 15px;
	min-height: 2px;
	margin:2px;
}

@media screen and (min-width: 464px) {
	.menu_in_burgher, #menu-btn {display:none;}
}

@media screen and (max-width: 465px) {
    .stripe {
		min-height: 3px;
		margin:4px;
		width: 24px;
		}
	.burgher-menu {right:-20px;}

	//start of burgher menu
	.menu_in_burgher li {
		position: relative;
	}

	.menu_in_burgher {
		margin-top: -56px;
		margin-left: -20px;
		width: 50%;
		height: 303px;
		background: #212121;
		visibility: hidden;
		opacity: 0;
		transform: translate(-100%, 0);
		transition: all 0.5s ease-out;
	}

	.menu_item_burgher {
		width: 100%;
		float: left;
		height: 50px;
		line-height: 50px;
	}

	.menu_item_burgher a {
		display: block;
		//padding: 0 10%;
		text-decoration: none;
		//border-bottom: 1px solid #fff;	
		color: #fff;
		position: relative;
		top:-100px;
		text-align:center;
	} 

	.menu_in_burgher li:hover > a {
		background: #fff;
		color: #000;
		border: 1px solid #DCDCDC;
	}

	.menu_in_burgher li:hover > ul {
		display: block;
	}
	#menu-btn {
		display: none;
	}

	#menu-btn:checked + label {
		opacity: 0.2;
	}

	#menu-btn:checked ~ .menu_in_burgher {
		visibility: visible;
		opacity: 1;
		transform: translate(0, 0);
	}
	//end of burgher menu
}

.top_button {
    //position: relative;
    //margin: 0 auto;
    //top:0px;
    //right:0px;
    display:inline-block;
    //text-align: center;
    //padding: 0px;
    //margin: 14px;
    border: 2px solid #212121;
    height:35px;
    padding-top: 14px;
    //box-sizing: border-box;
}

.top_button a {
    color: #212121;
    font-size: 16px;
    line-height: 0px;
    text-decoration:none;
    padding: 17px 84px;
    vertical-align: middle;
 }

.top_button:hover {
	//border: 2px solid grey;
	background: #212121;
    cursor:pointer;
}

.top_button a:hover {
	color:white;
	//background: #212121;
    cursor:pointer;
} 


.about, .articles {background-color:white;}

.intro_text {
	text-align:center; 
	padding-top: 100px;
	max-width:965px;
	margin: 0 auto;
}

.intro_text h2 {
	padding: 22px; 
	font-size: 27px; 
	font-weight:bold;
}

.intro_text p {
	padding-top:50px;
	padding-bottom:70px;
	font-size: 16px;
	color: #212121;
	line-height:33px;
	max-width: 90%;
	margin: 0 auto;}

.features {
	width: 100%;
	//height: 370px;
	background-color: #efefef;
}

.features_list, .articles_list, .carricatures_list {
	max-width:1170px;
	margin:0 auto;
}

.feature img {
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom:20px;
}

.feature h3 {
	font-size: 18px;
	line-height: 33px;	
	color: #212121;
	padding-bottom:35px;
}

.feature p {
	font-size: 16px;
	line-height: 26px;
	color: #212121;
	text-align: left;
}

.feature, .article, .carricature {
	display:inline-block;
	width: 21%;
	padding: 6%;
	margin:0%;
	font-size:0;
}


.article, {padding: 4%; margin: 2%;}

@media screen and (max-width: 638px) {
	.article h3, .author p {
		font-size: 14px;
	}
}

.article h3 {
	padding-bottom:35px;
	font-size: 14px;
	text-transform: uppercase;
	color: #eeeeee;
	}

.article {
	max-height: 500px;
	padding: 4%;
	margin:2%;
}

.description {
	padding-bottom: 20px;
	line-height: 33px;
	min-height: 100px;
	font-size: 24px;
	color: #eeeeee;	
}

.author img {
	display:inline-block;
	padding-right:20px;
	//padding-bottom: 20px;
}

.author p {
	text-transform: none; 
	//padding: 20px;
	top: -10px;
	position:relative;
	display:inline-block;
	line-height: 20px;
	text-align: left;
	padding-top: 15px;
	min-width: 98px;
	color: #eeeeee;	
	font-size: 14px; 
}

.articles {background-color: white; padding-bottom: 100px;}

.article {background-color:#222222;} 

@media screen and (max-width: 1120px) {
    .description {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .description {
    	min-height: 148px;
    	line-height: 28px;
    	padding-bottom:10px;
    }
}

@media screen and (max-width: 636px) {
    .article {
    	width: 100%;
    	box-sizing: border-box;
    	margin-left:0;
    	margin-right:0;
    }
    .description {min-height: 20px;}

    .article h3 {padding-bottom: 10px;}
}

.news {background-color: white;}

.clients {
	background-color: #efefef;
	//max-height:370px;
}

.client_logo {
	display:inline-block;
	padding: 20px;
}

.client_logo img {width: 100%;}


.content_clients {
	padding: 120px 0;
	width:100%;
}

@media screen and (max-width: 858px) {
    .clients_logos {
        max-width: 500px;
        margin: 0 auto;
    }
    .content_clients {
		padding: 20px 0;

	}

}

.content_clients, .portfolio_tabs { 
	text-align: center;
}

.portfolio_tabs {font-size:0; margin-top: 40px;}

.portfolio_tabs_item a {
	padding: 14px;
	border: 2px solid rgba(255,255,255,0);}

.portfolio_tabs_item {
    display:inline-block;
    //padding: 14px;
    margin: 14px 0 40px;
    
}

.portfolio_tabs_item a:hover {
	//margin-top:2px;
	//margin-left:12px;
	//margin-right:12px;
    border: 2px solid #212121;
    //margin-bottom: 38px;
    cursor:pointer;
}

.portfolio_tabs_item a{
    color: #212121;
    font-size: 16px;
    line-height: 0px;
    text-decoration:none;
 }

@media screen and (max-width: 700px) {
    .portfolio_tabs_item a {
    	font-size: 15px;
    }
    .portfolio_tabs_item {
    	margin: 0 0 20px;
    	padding-bottom: 15px ;
    }
}

.portfolio {background-color: #fff;}

.portfolio_list ul{
	//padding:0;
	width:100%;
}	

.portfolio_list{
	padding:0;
	width:100%;
	font-size:0;
}

.portfolio_item {
	width: 33%; 
	display:inline-block;
	font-size:0;
	padding:0;
}

.portfolio_item img{
	width: 100%; 
}

.portfolio .intro_text p:after {
    content:' ';
    background: #e64a19;
    height: 4px;
    bottom: -54px;
    width: 75px;
    text-align: right;
    margin: 0 auto;
    display: block;
    position:relative; 
}

.portfolio_wrap {
	width:100%;
	overflow: hidden;	
}

.sphere {
	height: 10px;
	width: 10px;
	border-radius: 50%;
 }

 .circles_pagination {
 	text-align: center;
 	font-size:0;
 	margin: 20px;

 }

.circle_page {
	margin: 5px;
	//margin:0 auto;
	display:inline-block;
	width:10px;
	height:10px;
	background: #ccc;
	border-radius: 50%;
}

.citation {
	//background-color:#212121;
	//height: 330px;
	width: 100%;
	margin: 0 auto;
}

.citation_content {
	padding: 80px;
	text-align:center;
	background-color:#212121;
}

.citation_text, .citation_author{
	color:white;
	line-height: 38px;
	font-size:20px;
}

.citation_text {
	
	max-width: 841px;
	text-align: center;
	margin:20px auto; 
}

.team {background-color:#fff; text-align: center;}

.team .intro_text p {padding-bottom:20px;} 

.carricature h3 {
	font-size: 16px;
	text-transform: uppercase;
	color: #222;
	margin-bottom: 5px;
	min-height:40px;
}

.carricature p {
	font-size: 15px;
	color: #222;
}

.carricature img {margin-bottom: 50px;}

.carricatures_list {padding:20px 0}

.carricature { width:12%; padding: }

@media screen and (max-width: 1100px) {
   .carricature img {
   		max-width: 100%;
   		margin-bottom: 20px;
    }
}

@media screen and (max-width: 750px) {
   .carricature h3 {
   		font-size: 14px;
    }
    .carricature p {
   		font-size: 14px;
    }
}

@media screen and (max-width: 638px) {
	.feature, .carricature {
		width: auto;
	}
	.feature h3 {padding-bottom: 10px;}
	.feature img {
		padding: 0 0 10px 0;
		}
}

.facts {	
	//z-index:-1;
	width:100%; 
	height:690px;
	background: url('../images/photo_facts.png') no-repeat center center;
	padding:0px; 
	margin:0;
}

.facts_text {position: relative;}

.facts_list {
	z-index: 1;
	position: absolute;
	right:0;
	left:0;
	text-align:center;
	max-width:890px;
	margin: 0 auto;
}

.facts_item {
	width: 45%;
	margin-top: 45px;
	display: inline-block;
	font-size:0;
	}

.facts h2 {
	font-size: 27px;
	color:white;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 70px;
	margin:0;
}

.facts h3 {
	font-size: 27px;
	color:white;
	margin-bottom: 45px;
}

.facts h3:after { 
	content:' ';
	width:75px; 
	position: relative;
    border-bottom: 3px solid #4d4c4b;
    height:2px;
    bottom: -22px;
    width: 42px;
    margin: 0 auto;
    display: block;
}

.facts p {
	font-size: 24px;
	color:white;
}

@media screen and (max-width: 545px) {
   .facts p {
   		font-size:18px;
    }
}


.facts_background {
	background-color: #FFF; 
	opacity: 0.3;
	max-width: 830px;
	margin: 0 auto;
	height: 350px;
}

.facts_text:after {
    content:' ';
    background: #e64a19;
    height: 4px;
    width: 75px;
    text-align: right;
    margin: 0 auto;
    display: block;
    position:relative; 
    opacity: 1;
}

.blog_articles {background-color: white; padding-bottom: 100px;}

.blog_articles figure, .list_article {
    margin: 0;
}

.blog_details {
	font-size: 14px;
	color:#555555;
	margin-bottom:20px;
}



.item_text h3 {
	font-size: 24px;
	color:#222222;	
	margin-bottom:50px;
}

.item_text p {
	font-size: 16px;
	line-height: 28px;
	color:#333333;	
}

.blog_articles img {
    width: 100%
}

.blog_articles_wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 110px;
}



//.blog_articles li:after {
//    content: '';
//    display: table;
//    clear: both;
//}

.articles_item_right, .articles_item_left {    font-size: 0px;
}

.list_photo {
    width: 50%;
//    font-size: 0;
    display: inline-block;
}

.item_text {
    width: 50%;
    display: inline-block;
    font-size: 14px;
//    top: 0;
    bottom:100px;
    position:relative;
    text-align: center;
 //   padding: 50px;
    box-sizing: border-box;
 }

 .list_article {
 	width: 80%;
 	margin: 0 auto;
 }

.blog_articles ul {
    list-style-type: none;
}

.articles_item_left .list_photo {padding-right: 20px; box-sizing: border-box; }

.articles_item_right .list_photo {padding-left: 20px; box-sizing: border-box;}

 .blog_articles_list .item_text 
{padding: 20px; box-sizing: border-box;}

.more_articles {
	width: 100%;
	//height: 370px;
	background-color: #efefef;
	margin-top: 90px;
}

.more_articles_list {
	//width:100%;
	max-width:1170px;
	margin:0 auto;
	right:0;
	left:0;
	//display:inline-block;
}

.more_article {
	display:inline-block;
	width: 23%;
	padding: 2%;
	margin:2%;
	font-size:0;
	//max-height: 109px;
	//margin-left:15px;
	//padding-top:0;
}


.article_line {
	//top: 10px;
	background: #212121;
	height: 70px;
	width: 4px;
	float:left;
	//margin-top:25px;
	//display: inline-block;
	//position: relative;
}

.article_text {
	margin-left:20px;
	display: inline-block;
	width:80%;
}

@media screen and (max-width: 1100px) {
    .blog_articles_wrap {
		max-width: 760px;	
    }
    .item_text {
		bottom: 30px;	
    }
    .item_text h3 {
		margin-bottom: 20px; 	
    }
    .item_text p {
    	font-size: 14px;
    	line-height: 20px;
    }
}

@media screen and (max-width: 670px) {
    .item_text {
		bottom: 0;	
    }
}

@media screen and (max-width: 670px) {
    .item_text {
		bottom: 0;	
    }
    .item_text h3 {
    	font-size: 16px;
    	font-weight: 700;
    	line-height: 24px;
    	margin-bottom:5px;}
}

@media screen and (max-width: 565px) {
    .item_text p {
		max-height:100px;
		overflow: hidden;	
    }
}

@media screen and (max-width: 510px) {
    .item_text p {
		max-height:80px;
		overflow: hidden;	
    }
}

@media screen and (max-width: 420px) {
    .item_text p {
		max-height:52px;
		overflow: hidden;
		font-size:13px;
		line-height:18px;	
    }
}

// .more_article:before {
//     content:' ';
//     background: #212121;
//     height: 70px;
//     border-bottom: 4px solid #212121;
//     //bottom: -70px;
//     width: 3px;
//     text-align: right;
//     left: -20px;
//     display: inline-block;
//     position:relative;
// }

// @media screen and (max-width: 1040px) {
//     .more_article {
// 		width: 25%;
// 		padding: 1%;
// 		margin:2%;
//     }
// }

// @media screen and (max-width: 940px) {
//     .more_article {
// 		width: 27%;
// 		padding: 2% 0%;
// 		margin:2%;
//     }
// }

.more_article h3 {
	font-size: 18px;
	line-height: 22px;	
	color: #212121;
	//padding-bottom:10px;
	font-weight: 500;
	min-height: 45px;
}

@media screen and (max-width: 604px) {
    .more_article h3 {
		bottom: 0;
		min-height:65px;	
    }
    .article_line {height:110px}
}

.more_article p {
	font-size: 14px;
	line-height: 20px;
	color: #212121;
	text-align: left;
}

@media screen and (max-width: 522px) {
    .more_article h3 {
		//font-size: 14px;
		//min-height:60px;
		//line-height:18px;
		//font-weight:700;
		min-width: 220px;
		min-height:0px;
    }
    .article_line {height: 50px;}
    .more_article p {
    	width:auto;
		//font-size: 13px;
		//min-height:60px;
		//line-height:16px;	
    } 
    .more_article {width:auto;}   
    //.article_line {width:2px}
}

.tweets {
	background: white;
	padding: 0 0 100px 0;
}

.tweets_content {
	margin: 0 auto;
	text-align: center;}

.tweeter_icon {padding-bottom: 58px;}
 
.tweets_message {
	padding:40px;
	line-height: 38px;
	max-width: 700px;
	margin: 0 auto;
	//text-align:center;
}

.tweets_signature {
	font-size: 16px;
	font-weight: 700;
}

.footer_content {max-width: 1170px;}

footer {
	background: #212121;
	//height:490px;

}

.footer_intro p, .bottom_left p {
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.footer_intro p {padding: 40px 0px;}

footer button {
	border: none;
	background:none;
	font-size: 10px;
	text-transform: uppercase;
	padding:0;
	//margin-bottom:0;
	max-height: 40px;
}

footer a{
	text-decoration: none;
	color: #999999;
}

.top_left, .bottom_left {
	float:left;
	width:50%;
}

.top_right, .bottom_right { float:right;}

.list_inside a {
	font-size: 14px;
	line-height: 24px;
	text-align: left;	
}

.top_right h3 {
	color: #dddddd;
	font-size: 15px;
	text-transform: uppercase;
	font-weight:500;
	padding-top: 10px;
}

.right_list_item {
	display:inline-block; 
	font-size: 15px;
	padding:10px;
	text-transform: uppercase;
}

.right_list {margin-right: -10px;}

//.bottom_right {float:right; background: #212121;}

.top_right, .bottom_right {
	display:inline-block;
	display: inline-block;
    width: 50%;
    padding-left: 50px;
    box-sizing: border-box;
}

.footer_content {padding: 77px;}

.bottom_left, .bottom_right { display:inline-block;}

.contact_form input, .contact_form textarea {
	//width: 100%;
    height: 40px;
    margin-bottom: 22px;
    background: none;
    border: none;
    border-bottom: 1px solid #464646;
    //border-radius: 0;
    color: #999999;
    font-size: 14px;
    //padding-left: 5%;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: left;
    padding-left:0;
}

.contact_form .email_field, .contact_form .subject_field {width: 45%;}

.contact_form textarea {
	width: 100%; 
	line-height: 30px;
}

.contact_form .form_button {
	border-bottom:none; 
	cursor: pointer;
	margin-bottom: 0px; 
}


.triangle { 
	//float:right;
	//display:inline-block;
	width:5px;
	position:relative;
	top:-25px;
	left: 50px; 
}


// .contact_form.form_button:after {	
// 	width: 0;
// 	height: 0;
// 	border-top: 5px solid transparent;
// 	border-left: 10px solid red;
// 	border-bottom: 10px solid transparent;
// }

//.footer_form button {display:inline-block;}


.email_field {margin-right: 9%;}

.footer_top:after {
	background: #464646;
	width: 100%;
	height: 1px;
}

.footer_top {margin-bottom: 40px;}

//.footer_links {vertical-align: top;}

.link_column {
	min-width: 30%;
	margin-right: 2%;
	float:left;
}

.links-list {display: inline-block; font-size:0;}

.list_inside {
	list-style-type:none;
	padding:10px 0;
	
}

.links_list {
	padding:0;
	list-style-type: none;
}

@media screen and (max-width: 920px) {
    .footer_content {
    	padding: 80px 30px;
    }
}

@media screen and (max-width: 800px) {
    .footer_content {
    	padding: 110px 10px;
    }
}

@media screen and (max-width: 700px) {
    .contact_form input {
    	width:100%;
    }
}

@media screen and (max-width: 800px) {
    .link_column {
		min-width: 24%;
		margin-right: 7%; 
	}
	 .right_list_item {
    	font-size: 13px;
    	padding:6px;
    }

	.list_inside {padding-top: 10px;}
}

@media screen and (max-width: 650px) {
    .list_inside a {
		font-size: 13px;
		line-height: 22px; 
	}
}



