
body {font-family: 'Source Sans Pro', sans-serif; margin:0;}
ul {margin:0; padding:0;}

a {text-decoration:none;}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
    overflow: hidden;
}

.container {
	max-width:1170px;
	margin: 0 auto;
}

@media screen and (max-width: 1239px) {
    .container {
        padding: 0 20px;
        box-sizing: border-box;
    }
}

.header_wrap {
	position: relative;
	background: url(../images/top.png) no-repeat center center;
	background-attachment: fixed;
}

.text_block {
	text-align: right;
	width:100%;
	padding-bottom: 180px;
	padding-top: 50px;
}

.h1_text {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    color:#212121;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
}

.h1_after {
	background: #212121;
	width: 138px;
	height: 4px;
	display:inline-block;
	margin-top:20px;
}

.text_description {
    font-size: 18px;
    line-height: 34px;
    text-align: right;
    color:#212121;
    padding-top:30px;
    max-width:550px;
    padding-bottom:50px;
    display:inline-block;
}

.text_descrition_parent {font-size:0;}

@media screen and (max-width: 1000px) {
    .text_description {
    	font-size:16px;
    	line-height: 24px;
    	max-width: 300px;
    }
}

@media screen and (max-width: 598px) {
    .text_description {
    	max-width: 200px;
    	padding-bottom:30px;
    }
    .text_block {
		text-align: right;
		width:100%;
		padding-bottom: 180px;
		padding-top: 20px;
}
}

.logo {display:inline-block; 
	padding: 14px 10px;
	float:left;
}

.logo_menu_wrap {
	height: 100px;
	padding-top: 56px;
	position:relative;
}

.burgher-menu, .menu_item {
    color: #212121;
    font-size: 16px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 14px;
    box-sizing: border-box;
 }

menu {margin:0;}

.menu_wrap {
	margin-top:0;
	padding-top:0;
	float:right;
	margin-right: 40px;
}

.menu_item {
    display: inline-block;
    margin: 0 14px;
    border: 2px solid rgba(255,255,255,0);
}

.menu_item:hover {
    border: 2px solid #212121;
    cursor: pointer;
    box-sizing: border-box;
    transition-duration: 0.7s;
}

/* Border Fade */

// .hvr-border-fade {
//   display: inline-block;
//   vertical-align: middle;
//   -webkit-transform: perspective(1px) translateZ(0);
//   transform: perspective(1px) translateZ(0);
//   box-shadow: 0 0 1px transparent;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-property: box-shadow;
//   transition-property: box-shadow;
//   box-shadow: inset 0 0 0 2px #e1e1e1, 0 0 1px transparent;
//   /* Hack to improve aliasing on mobile/tablet devices */
// }
// .hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
//   box-shadow: inset 0 0 0 2px #212121, 0 0 1px transparent;
//   /* Hack to improve aliasing on mobile/tablet devices */
// }

/* Border Fade Finish */

.top_button {
    display: inline-block;
    border: 2px solid #212121;
    color: #212121;
    font-size: 16px;
    line-height: 0px;
    padding: 22px 84px;
    vertical-align: middle;
}

// .top_button:hover {
// 	background: #212121;
//     cursor: pointer;
//     color: white;
// }



/* Sweep To Right — Start */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Sweep To Right — Finish */




@media screen and (max-width: 720px) {
     .menu_item {
		margin: 0px 0px;
     }

   .menu_wrap {
   		margin-right: 40px;
   }
}

@media screen and (max-width: 598px) {
    .menu_item {
		padding:14px 5px;}

   .menu_item {
   		font-size: 14px;
   }
}

@media screen and (max-width: 465px) {
 
   .menu_wrap  {
   		display: none;
   }

   .top_button {padding: 22px 40px;}
}

.burgher-menu {
	margin-top: 0px; 
	position: absolute; 
	right: -10px;
	padding: 14px;
	border: none;
	background: none;
	box-sizing: border-box;
	border: 2px solid rgba(255,255,255,0);
}

.burgher-menu:hover {	
	border: 2px solid #212121;
    cursor: pointer;
    box-sizing: border-box;
    transition-duration: 0.7s;
}

.stripe { 
	content:'';
	background: black;
	width: 15px;
	min-height: 2px;
	margin: 2px;
}


@media screen and (min-width: 464px) {
	.menu_in_burgher, #menu-btn {display:none;}
}

@media screen and (max-width: 465px) {
    .stripe {
		min-height: 3px;
		margin: 4px;
		width: 24px;
		}
	.burgher-menu {right:-20px;}

	.menu_in_burgher {
		margin-top: -56px;
		margin-left: -20px;
		//width: 50%;
		height: 420px;
		background: #212121;
		visibility: hidden;
		opacity: 0;
		transform: translate(-100%, 0);
		transition: all 0.5s ease-out;
		position: absolute;
	}

	.menu_item_burgher {
		width: 100%;
		float: left;
		height: 70px;
		line-height: 70px;
	}

	.menu_item_burgher {
		display: block;
		text-decoration: none;
		color: #fff;
		position: relative;
		text-align: center;
	} 
	.menu_item_burgher:hover {
		background: #fff;
		color: #000;
		//border: 1px solid #DCDCDC;
	}

	.menu_in_burgher:hover > ul {
		display: block;
	}
	#menu-btn {
		display: none;
	}

	#menu-btn:checked + label {
		opacity: 0.2;
	}

	#menu-btn:checked ~ .menu_in_burgher {
		visibility: visible;
		opacity: 1;
		transform: translate(0, 0);
	}
}

.about, .articles {background-color:white;}

.intro_text {
	text-align:center; 
	padding-top: 100px;
	max-width:965px;
	margin: 0 auto;
}

.intro_text h2 {
	padding: 22px; 
	font-size: 27px; 
	font-weight:bold;
}

.intro_text p {
	padding-top: 50px;
	padding-bottom:70px;
	font-size: 16px;
	color: #212121;
	line-height: 33px;
	max-width: 90%;
	margin: 0 auto;}

.features {
	width: 100%;
	background-color: #efefef;
}

.features_list, .articles_list, .carricatures_list {
	max-width: 1170px;
	margin:0 auto;
}

.feature img {
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom:20px;
}

.feature h3 {
	font-size: 18px;
	line-height: 33px;	
	color: #212121;
	padding-bottom:35px;
}

.feature p {
	font-size: 16px;
	line-height: 26px;
	color: #212121;
	text-align: left;
}

.feature, .article, .carricature {
	display: inline-block;
	width: 21%;
	//padding: 6%;
	margin: 6%;
	font-size: 0;
}

.article, {padding: 4%; margin: 2%;}

@media screen and (max-width: 638px) {
	.article h3, .author p {
		font-size: 14px;
	}
}

.article h3 {
	padding-bottom:35px;
	font-size: 14px;
	text-transform: uppercase;
	color: #eeeeee;
	}

.article {
	max-height: 500px;
	padding: 4%;
	margin: 2%;
	margin-top:20px;
	padding-top: 40px;
}

.description {
	padding-bottom: 20px;
	line-height: 33px;
	min-height: 100px;
	font-size: 24px;
	color: #eeeeee;	
}

.author img {
	display:inline-block;
	padding-right: 20px;
}

.author p {
	text-transform: none; 
	top: -10px;
	position:relative;
	display:inline-block;
	line-height: 20px;
	text-align: left;
	padding-top: 15px;
	min-width: 98px;
	color: #eeeeee;	
	font-size: 14px; 
}

.articles {background-color: white; padding-bottom: 80px;}

.article {background-color:#222222;} 

/* Overline From Left Start */
.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #e64a19;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
  right: 0;
}

/* Overline From Left Finish */

// .article:hover {
// 	border-top: 5px solid #e64a19;
// 	margin-top: 15px;
// 	padding-top: 35px;
// 	//box-sizing: border-box;}

@media screen and (max-width: 1120px) {
    .description {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .description {
    	min-height: 148px;
    	line-height: 28px;
    	padding-bottom: 10px;
    }
}

@media screen and (max-width: 636px) {
    .article {
    	width: 100%;
    	box-sizing: border-box;
    	margin-left: 0;
    	margin-right: 0;
    	padding-bottom: 30px;
    	padding-top: 30px;
    }

	.article:hover {
		padding-bottom: 30px;
		padding-top: 30px;}

    .description {min-height: 20px;}

    .article h3 {padding-bottom: 10px;}
}

.news {background-color: white;}

.clients {
	background-color: #efefef;
}

.client_logo {
	display:inline-block;
	padding: 20px;
	max-width: 100px;
}

.client_logo img {width: 100%;}


.content_clients {
	padding: 120px 0;
	width: 100%;
}

@media screen and (max-width: 858px) {
    .clients_logos {
        max-width: 500px;
        margin: 0 auto;
    }
    .content_clients {
		padding: 20px 0;
	}
}

.content_clients, .portfolio_tabs { 
	text-align: center;
}

.portfolio_tabs {
	font-size:0;
	margin-top: 40px;
	box-sizing: border-box;
}


.portfolio_tabs_item {
	padding: 14px;
	border: 2px solid rgba(255,255,255,0);
	display: inline-block;
    margin: 14px 2px 40px;
    color: #212121;
    font-size: 16px;
    line-height: 0px;
    text-decoration: none;
    background-color: white;
    box-sizing: border-box;
}

.portfolio_tabs_item:hover {
    border: 2px solid #212121;
    cursor: pointer;
    transition-duration: 0.7s;
}

.portfolio_tabs_item:focus {
	outline:0;
}

// .portfolio_tabs_item:focus {
// 	color:#e64a19;
// 	transition: 0.2s;
// }

.portfolio_tabs_item:focus {
	color:white;
	transition: 0.7s;
	background:black;
}


.portfolio_img {
	overflow:hidden;
	height: 440px;
	width:359px;}

.portfolio_img img {
	size:100%;
	object-fit: cover;}


@media screen and (max-width: 700px) {
    .portfolio_tabs_item {
    	font-size: 15px;
    }
    .portfolio_tabs_item {
    	margin: 0 2px 20px;
    	padding-bottom: 15px;
    	padding: 14px 10px;
    }
}

.portfolio {background-color: #fff;}

.portfolio_list ul{
	width: 100%;
}	

.portfolio_list{
	padding: 0;
	width: 100%;
	font-size: 0;
}

.portfolio_item {
	width: 33.3333%; 
	display: inline-block;
	font-size: 0;
	padding: 0;
}

.portfolio_item img{
	width: 100%; 
}

.portfolio .intro_text p:after {
    content:' ';
    background: #e64a19;
    height: 4px;
    bottom: -54px;
    width: 75px;
    text-align: right;
    margin: 0 auto;
    display: block;
    position: relative; 
}

.portfolio_wrap {
	width: 100%;
	overflow: hidden;	
}

.sphere {
	height: 10px;
	width: 10px;
	border-radius: 50%;
 }

 .circles_pagination {
 	text-align: center;
 	font-size: 0;
 	margin: 20px;
 }

.circle_page {
	margin: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50%;
}

.citation {
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.citation_content {
	padding: 80px;
	text-align: center;
	background-color: #212121;
}

.citation_text, .citation_author{
	color: white;
	line-height: 38px;
	font-size: 20px;
}

.citation_text {
	max-width: 841px;
	text-align: center;
	margin: 20px auto; 
}

.team {background-color: #fff; text-align: center;}

.team .intro_text p {padding-bottom: 20px;} 

.carricature {vertical-align: top;}

.carricature h3 {
	font-size: 16px;
	text-transform: uppercase;
	color: #222;
	margin-bottom: 5px;
	min-height: 40px;
}

.carricature p {
	font-size: 15px;
	color: #222;
	min-height: 30px;
}

.carricatures_list {
	padding: 20px 0;
}

.carricature_img, .carricature_img_hover {min-height: 134px; }

.carricature {width: 12%;}

.carricature_img_hover {display: none;}

.carricature:hover .carricature_img {display: none;}

.carricature:hover .carricature_img_hover {display: block;}

.carricature:hover h3 {font-weight: bold;}


@media screen and (max-width: 1100px) {
   .carricature img {
   		max-width: 100%;
   		margin-bottom: 20px;
    }
}

@media screen and (max-width: 750px) {
   .carricature h3 {
   		font-size: 14px;
    }
    .carricature p {
   		font-size: 14px;
    }
}

@media screen and (max-width: 638px) {
	.feature, .carricature { width: auto;}
	.feature h3 {padding-bottom: 10px;}
	.feature img { padding: 0 0 10px 0;}
}

.facts {	
	width: 100%; 
	height: 690px;
	background: url('../images/photo_facts.png') no-repeat center center;
	padding: 0px; 
	margin: 0;
}

.facts_list {
	z-index: 1;
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	max-width: 890px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.2);
	padding-bottom: 45px;
}

.facts_item {
	width: 45%;
	margin-top: 45px;
	display: inline-block;
	font-size: 0;
}

.facts h2 {
	font-size: 27px;
	color: white;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 70px;
	margin: 0;
}

.facts .counter {
	font-size: 40px;
	color: white;
	// margin-bottom: 45px;
}

.facts .counter:after { 
	content: ' ';
	width: 75px; 
	position: relative;
    border-bottom: 3px solid #e64a19;
    height: 2px;
    bottom: -22px;
    width: 42px;
    margin: 0 auto;
    display: block;
}

.facts p {
	font-size: 24px;
	color: white;
	margin-top:45px;
}

@media screen and (max-width: 545px) {
   .facts p {
   		font-size: 18px;
    }
}

.facts_background {
	background-color: #FFF; 
	opacity: 0.3;
	max-width: 830px;
	margin: 0 auto;
	height: 350px;
}

.facts_text:after {
    content:' ';
    background: #e64a19;
    height: 4px;
    width: 75px;
    text-align: right;
    margin: 0 auto;
    display: block;
    position: relative; 
    opacity: 1;
}

.blog_articles {background-color: white; padding-bottom: 80px;}

.blog_articles figure, .list_article {
    margin: 0;
}

.blog_details {
	font-size: 14px;
	color: #555555;
	margin-bottom: 20px;
}


.item_text h3 {
	font-size: 24px;
	color: #222222;	
	margin-bottom: 50px;
}

.item_text p {
	font-size: 16px;
	line-height: 28px;
	color: #333333;	
}

.blog_articles img {
    width: 100%
}

.blog_articles_wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 110px;
}

.articles_item_right, .articles_item_left {
	font-size: 0px;
	margin-bottom: 40px;
}

.list_photo {
    width: 50%;
    display: inline-block;
}

.item_text {
    width: 50%;
    display: inline-block;
    font-size: 14px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
 }

 .list_article {
 	width: 80%;
 	margin: 0 auto;
 }

.blog_articles ul {
    list-style-type: none;
}

.articles_item_left .list_photo {
	padding-right: 20px;
	box-sizing: border-box; 
}

.articles_item_right .list_photo {
	padding-left: 20px;
	box-sizing: border-box;
}

 .blog_articles_list .item_text {
 	padding: 20px; 
	box-sizing: border-box;
}

.item_text, .list_photo {vertical-align: middle;}

.more_articles {
	width: 100%;
	background-color: #efefef;
	margin-top: 90px;
}

.more_articles_list {
	max-width: 1170px;
	margin: 0 auto;
	right: 0;
	left: 0;
}

.more_article {
	display: inline-block;
	width: 23%;
	padding: 2%;
	margin: 2%;
	font-size: 0;
}


.article_line {
	background: #212121;
	height: 70px;
	width: 4px;
	float: left;
}

.more_article:hover h3{
	color:#e64a19 ;
}

.more_article:hover p{
	color:#e64a19 ;
}

.more_article:hover .article_line {
	background:#e64a19 ;
}

.article_text {
	margin-left: 20px;
	display: inline-block;
	width: 80%;
}

@media screen and (max-width: 1100px) {
    .blog_articles_wrap {
		max-width: 760px;	
    }
    .item_text h3 {
		margin-bottom: 20px; 	
    }
    .item_text p {
    	font-size: 14px;
    	line-height: 20px;
    }
}

@media screen and (max-width: 670px) {
    .articles_item_right, .articles_item_left {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 670px) {
    .item_text h3 {
    	font-size: 16px;
    	font-weight: 700;
    	line-height: 24px;
    	margin-bottom: 5px;
    }
    .blog_details {margin-bottom: 10px;}
}

@media screen and (max-width: 565px) {
    .item_text p {
		max-height: 100px;
		overflow: hidden;	
    }
    .articles_item_right, .articles_item_left {
		margin-bottom: 0px;
	}	
}

@media screen and (max-width: 510px) {
    .item_text p {
		max-height: 80px;
		overflow: hidden;	
    }
    .blog_details {margin-bottom: 5px;}
}

@media screen and (max-width: 420px) {
    .item_text p {
		max-height: 52px;
		overflow: hidden;
		font-size: 13px;
		line-height: 18px;	
    }
}

.more_article h3 {
	font-size: 18px;
	line-height: 22px;	
	color: #212121;
	font-weight: 500;
	min-height: 45px;
}

@media screen and (max-width: 604px) {
    .more_article h3 {
		bottom: 0;
		min-height: 65px;	
    }
    .article_line {height: 110px}
}

.more_article p {
	font-size: 14px;
	line-height: 20px;
	color: #212121;
	text-align: left;
}

@media screen and (max-width: 522px) {
    .more_article h3 {
		min-width: 220px;
		min-height: 0px;
    }
    .article_line {height: 50px;}
    .more_article p {width:auto;} 
    .more_article {width:auto;}   
}



.tweets {
	background: white;
	padding: 0 0 100px 0;
}

.tweets_content {
	margin: 0 auto;
	text-align: center;}

.tweeter_icon {padding-bottom: 58px;}
 
.tweets_message {
	padding: 40px;
	line-height: 38px;
	max-width: 700px;
	margin: 0 auto;
}

.tweets_signature {
	font-size: 16px;
	font-weight: 700;
}

.footer_content {
	max-width: 1170px;
	margin: 0 auto;
}

footer {
	background: #212121;
}

.footer_intro p, .bottom_left p {
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.footer_intro p {padding: 40px 0px;}

footer button {
	border: none;
	background: none;
	font-size: 10px;
	text-transform: uppercase;
	padding: 0;
	max-height: 40px;
}

footer a {
	text-decoration: none;
	color: #999999;
}

.top_left, .bottom_left {
	float: left;
	width: 50%;
}

.top_right, .bottom_right {float: right;}

.list_inside a {
	font-size: 14px;
	line-height: 24px;
	text-align: left;	
}

.top_right h3 {
	color: #dddddd;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	padding-top: 10px;
}

.right_list_item {
	font-size: 15px;
	padding: 10px;
	text-transform: uppercase;
}

.right_list {margin-right: -10px;}

.top_right, .bottom_right {
    width: 50%;
    padding-left: 50px;
    box-sizing: border-box;
}

.footer_content {padding: 77px;}

.contact_form input, .contact_form textarea, .form_button {
    height: 40px;
    margin-bottom: 22px;
    background: none;
    border: none;
    border-bottom: 1px solid #464646;
    color: #999999;
    font-size: 14px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: left;
    padding-left: 0;
    width: 45%;
}

.contact_form textarea {
	width: 100%; 
	line-height: 30px;
}

.contact_form .form_button {
	border-bottom: none; 
	cursor: pointer;
	margin-bottom: 0px; 
}

.triangle { 
	width: 5px;
	position: relative;
	top: -29px;
	left: 50px; 
}

.email_field {margin-right: 9%;}

.footer_top	:after {
	background: #464646;
	width: 100%;
	height: 1px;
}

.footer_top {margin-bottom: 40px;}

.link_column {
	min-width: 30%;
	margin-right: 2%;
	float: left;
}

.links-list {
	font-size: 0;}

.list_inside {
	list-style-type: none;
	padding: 10px 0;	
}

.links_list {
	padding: 0;
	list-style-type: none;
}

@media screen and (max-width: 920px) {
    .footer_content {
    	padding: 80px 30px;
    }
}

@media screen and (max-width: 800px) {
    .footer_content {
    	padding: 50px 30px;
    }
}

// @media screen and (max-width: 700px) {
//     .contact_form input {
//     	width: 100%;
//     }
//     .top_left {width:100%;}
//     .top_right {
//     	width:100%;
//     	padding-left:0px;
//     	padding-top:50px;
//     }
//     .bottom_left {width:100%;}
//     .bottom_right {
//     	width:100%;
//     	padding-left:0px;
//     	padding-top:50px;
//     }
// }

@media screen and (max-width: 800px) {
    .link_column {
		min-width: 24%;
		margin-right: 7%; 
	}
	 .right_list_item {
    	font-size: 13px;
    	padding: 6px;
    }

	.list_inside {padding-top: 10px;}
}

@media screen and (max-width: 650px) {
    .list_inside a {
		font-size: 13px;
		line-height: 22px; 
	}
}

@media screen and (max-width: 700px) {
    .top_right, .bottom_right, .bottom_left, .top_left {
		width: 100%;
		padding-left:0;
	}
	.footer_top	:after {
		display:none;
	}

	.bottom_right li {
		display:inline-block; 
		padding: 0 0 30px 0px; 
		margin-right: 20px;
	}
}




